@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

$bg-black: #242B2C;
$black-decoration: #3B4647;
$white: #FFFFFF;
$blue: #6EC9F2;
$white-decoration: #CECECE;
$white-border: #D9D9D9;

body {
  color: $white;
  background: $bg-black;
}

@page { size: auto;  margin: 0mm; }
