@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-black: #000000;
  --color-black-bg: #242B2C;
  --color-black-decoration: #3B4647;
  --color-secondary-title: #838383;
  --color-blue: #6EC9F2;
  --color-white: #ffffff;
  --color-white-decoration: #CECECE;
  --color-white-border: #D9D9D9;
  --font-Raleway: "Raleway", sans-serif; 
  --font-Inter: "Inter", sans-serif;
  --size-xs: '0',
  --size-sm: '600px',
  --size-md: '900px',
  --size-lg: '1200px',
  --size-xl: '1536px',
}

@page { size: auto;  margin: 0mm; }

body {
  color: var(--color-white);
  background: var(--color-black-bg);
}

h2 {
  color: var(--color-black-bg);
  text-transform: uppercase;
  font-size: 3rem;
  font-family: var(--font-Raleway);
  font-weight: 700;
  display: block; 
  width: 100%;
  border-top: 1px solid var(--color-white-border);
  border-bottom: 1px solid var(--color-white-border);
  line-height: 2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  h2 {
    font-size: 5rem;
    line-height: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 7.5rem;
    line-height: 5.2rem;
  }
}

h2 + p {
  margin-top: 2rem;
}

h3 {
  color: var(--color-secondary-title);
  font-size: 1.25rem;
  font-family: var(--font-Inter);
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  margin-bottom: 1rem;
}

.iconButton {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black-bg);
  cursor: pointer;
}

/* .siteButton {
  background: var(--color-blue);
  color: var(--color-black);
  font-size: 1.125rem;
  padding: 0.9rem 1.6rem;
  text-transform: uppercase;
  font-family: var(--font-Raleway);
  font-weight: 700;
  display: inline-block;
  text-align: center;
} */

.siteButton {
  /* background: var(--color-blue); */
  color: var(--color-black);	transition: all 0.3s;
	position: relative;
  font-size: 1.125rem;
  padding: 0.9rem 1.6rem;
  text-transform: uppercase;
  font-family: var(--font-Raleway);
  font-weight: 700;
  display: inline-block;
  text-align: center;
}
.siteButton span {
	transition: all 0.3s;
  z-index: 10;
}
.siteButton::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: var(--color-blue);
	border-bottom-color: var(--color-blue);
	transform: scale(0.1, 1);
}
.siteButton:hover span {
	letter-spacing: 2px;
}
.siteButton:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.siteButton::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
  background: var(--color-blue);
  z-index: 0;
}
.siteButton:hover::after {
	border-bottom-color: var(--color-blue);
	transform: scale(0.005, 1);
}

.homeHeroTitle h2 {
  color: #838383;
  font-size: 1.5rem;
  line-height: 2rem;
  border: none;
  text-transform: none;
  font-family: var(--font-Inter);
  font-weight: 400;
}

.homeHeroTitle h2 strong {
  font-weight: 700;
  color: var(--color-white);
}

.glacierContent{
  position: relative;
}

@media screen and (min-width:1200px) {
  .glacierContent::before {
    left: -1px;
    border: 1px solid var(--color-white-border);
    top: -6.25rem;
    height: calc(100% + 6.25rem);
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
  }
}

.glacerTitle::first-letter {
  margin-left: -0.5rem;
}

.sectionMtnLeftWhite {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
}

.sectionMtnLeftWhite::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background: var(--color-white);
  transform: rotate(45deg);
  displaY: block;
  z-index: 10;
  margin-left: 0.445rem;
  margin-right: 0.5rem;
}

.sectionMtnLeftWhite:after {
  content: '';
  width: 1rem;
  height: 1rem;
  background: var(--color-white);
  transform: rotate(45deg);
  display: block;
  z-index: 10;
}

.sectionMtnRightWhite {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
}

.sectionMtnRightWhite:before {
  content: '';
  width: 1rem;
  height: 1rem;
  background: var(--color-white);
  transform: rotate(45deg);
  display: block;
  margin-right: 0.445rem;
  z-index: 10;
}

.sectionMtnRightWhite::after {
  content: '';
  width: 2rem;
  height: 2rem;
  background: var(--color-white);
  transform: rotate(45deg);
  displaY: block;
  z-index: 10;
  margin-right: 0.445rem;
}

.sectionMtnLeftBlack {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
}

.sectionMtnLeftBlack::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background: var(--color-black-bg);
  transform: rotate(45deg);
  displaY: block;
  z-index: 10;
  margin-left: 0.445rem;
  margin-right: 0.5rem;
}

.sectionMtnLeftBlack:after {
  content: '';
  width: 1rem;
  height: 1rem;
  background: var(--color-black-bg);
  transform: rotate(45deg);
  display: block;
  z-index: 10;
}

.sectionMtnRightBlack {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  justify-content: center;
}

.sectionMtnRightBlack:before {
  content: '';
  width: 1rem;
  height: 1rem;
  background: var(--color-black-bg);
  transform: rotate(45deg);
  display: block;
  margin-right: 0.445rem;
  z-index: 10;
}

.sectionMtnRightBlack::after {
  content: '';
  width: 2rem;
  height: 2rem;
  background: var(--color-black-bg);
  transform: rotate(45deg);
  displaY: block;
  z-index: 10;
  margin-right: 0.445rem;
}

@media screen and (min-width: 900px) {
  .sectionMtnLeftWhite::before {
    width: 4rem;
    height: 4rem;
    margin-left: 0.445rem;
    margin-right: 0.5rem;
  }

  .sectionMtnLeftWhite:after {
    width: 2rem;
    height: 2rem;
  }

  .sectionMtnRightWhite:before {
    width: 2rem;
    height: 2rem;
    margin-right: 0.89rem;
  }

  .sectionMtnRightWhite::after {
    width: 4rem;
    height: 4rem;
    margin-right: 0.89rem;
  }

  .sectionMtnLeftBlack::before {
    width: 4rem;
    height: 4rem;
    margin-left: 0.89rem;
    margin-right: 1rem;
  }

  .sectionMtnLeftBlack:after {
    width: 2rem;
    height: 2rem;
  }

  .sectionMtnRightBlack:before {
    width: 2rem;
    height: 2rem;
    background: var(--color-black-bg);
    margin-right: 0.89rem;
  }

  .sectionMtnRightBlack::after {
    width: 4rem;
    height: 4rem;
    margin-right: 0.89rem;
  }
}

.topLeftBlueHandle {
  background: var(--color-white);
  border: 1px solid var(--color-blue);
  width: 9px;
  height: 9px;
  position: absolute;
  left: -4px;
  top: -4px;
}

.topRightBlueHandle {
  background: var(--color-white);
  border: 1px solid var(--color-blue);
  width: 9px;
  height: 9px;
  position: absolute;
  top: -4px;
  right: -4px;
}

.bottomLeftBlueHandle {
  background: var(--color-white);
  border: 1px solid var(--color-blue);
  width: 9px;
  height: 9px;
  position: absolute;
  bottom: -4px;
  left: -4px;
}

.bottomRightBlueHandle {
  background: var(--color-white);
  border: 1px solid var(--color-blue);
  width: 9px;
  height: 9px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

@keyframes scaleUpDown {
  0%, 100% {
    transform: translateY(-42%) scale(1);
  }
  50% {
    transform: translateY(-42%) scale(1.1);
  }
}

@keyframes scaleDownUp {
  0%, 100% {
    transform: translateY(-42%) scale(1.1);
  }
  50% {
    transform: translateY(-42%) scale(1);
  }
}

.scaling-image-up {
  animation: scaleUpDown 20s infinite linear;
}

.scaling-image-down {
  animation: scaleDownUp 20s infinite linear;
}


